$bg-color: #f0f0f0;
$text-color: #111111;
$font-size: 18px;
$font: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
$main-header-color: linear-gradient(132deg, rgba(0,168,255,1) 0%, rgba(0,210,211,1) 50%, rgba(0,168,255,1) 100%);
$main-header-logo-url: '@/assets/images/logo.png';

@font-face {
  font-family: 'ShuHeiTi';
  src: url('font/alimama/AlimamaShuHeiTi-Bold.woff2') format('woff2'),
  url('font/alimama/AlimamaShuHeiTi-Bold.woff') format('woff'),
  url('font/alimama/AlimamaShuHeiTi-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app,
html,
body {
  font-family: $font;
  background-color: $bg-color;
  color: $text-color;
  font-size: $font-size;
  height: 100%;
}

.el-popper {
  max-width: 50% !important;
}

/*三级页面样式(一般为编辑页面)*/
.edit-content, .detail-content {
  padding: 20px 80px 50px 80px;
  background-color: white;
  border-radius: 3px;
  min-height: calc(100vh - 120px);

  .el-input, .el-select, .el-textarea {
    width: 350px;
  }

  .el-input.w100 {
    width: 100px !important;
  }

  .el-input.w120 {
    width: 120px !important;
  }
  .el-input.w240 {
    width: 240px !important;
  }
  .el-select.w240 {
    width: 240px !important;
  }
  .el-input.w200 {
    width: 200px !important;
  }

  .el-collapse {
    width: 800px;
  }
}

/*编辑页面底部按钮整体样式*/
.edit-button-footer {
  position: fixed;
  bottom: 10px;
  z-index: 3001;
  left: 50%;
  transform: translateX(-50%);
}

/*列表单行样式*/
.el-table .success-row {
  --el-table-tr-bg-color: #e9f9e3;
}

.current-row {
  --el-table-current-row-bg-color: #b3fbe8;
  --el-table-row-hover-bg-color: #b3fbe8;
}

/*消除element按钮边框颜色(icon按钮显示有问题)*/
.el-button:focus-visible {
  outline: none !important;
}

/*列表顶部搜索样式*/
.content-top {
  border-radius: 3px;
  background-color: #fff;
  padding-top: 18px;

  .right-button {
    float: right;
  }

  .el-input {
    width: 180px;
  }

  .el-select {
    width: 150px;
  }

  .el-select.w220 {
    width: 220px !important;
  }
}

.el-input.w250 {
  width: 250px !important;
}

.el-input.w80 {
  width: 80px !important;
}

.el-input.w100 {
  width: 100px !important;
}

.el-input.w120 {
  width: 120px !important;
}

.el-input.w140 {
  width: 140px !important;
}

.el-input.w280 {
  width: 280px !important;
}

.el-select.w80 {
  width: 80px !important;
}

.el-select.w100 {
  width: 100px !important;
}

.el-select.w110 {
  width: 110px !important;
}

.el-select.w120 {
  width: 120px !important;
}

.el-select.w130 {
  width: 130px !important;
}

.el-select.w180 {
  width: 180px !important;
}

.el-select.w200 {
  width: 200px !important;
}

el-select.w250 {
  width: 250px !important;
}


.w220 {
  width: 220px !important;
}


/*搜索框右边距*/
.el-form--inline .el-form-item {
  margin-right: 15px !important;
}

/*列表中间内容样式*/
.content-main {
  margin-top: 18px;
  background-color: #fff;
  padding: 15px;
  border-radius: 3px;
  min-height: calc(100vh - 205px);
}

/*弹框样式*/
.el-dialog {
  .el-input,
  .el-textarea,
  .el-select {
    width: 400px !important;
  }
}


/*分页组件样式*/
.el-pagination {
  margin: 10px 10px 0 0 !important;
  .el-select {
    width: 128px !important;
  }
}


/*图片预览样式(缩小百分50%)*/
.el-image-viewer__img {
  height: 50% !important;
  width: auto;
}

/*单图片上传预览样式*/
.image-uploader-preview {
  width: 80px;
  height: 80px;
  display: block;
}

/*单张文件上传后图片显示撑高的问题*/
.el-form-item__content .image-uploader {
  line-height: 0 !important;
}

/*图片上传中间+号图标样式*/
.el-icon.image-uploader-icon {
  font-size: 16px;
  color: #8c939d;
  text-align: center;
}

/*图片上传整体样式*/
.image-uploader .el-upload {
  border: 1px dashed var(--el-border-color);
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 80px;
  height: 80px;
  transition: var(--el-transition-duration-fast);
}

/*多图片上传后的展示样式*/
.el-upload-list--picture-card {
  .el-upload-list__item {
    width: 80px !important;
    height: 80px !important;
  }
}

.image-uploader .el-upload:hover {
  border-color: var(--el-color-primary);
}

/*穿梭框按钮内边距*/
.el-transfer__buttons {
  padding: 0 15px !important;
}

/*穿梭框底部按钮*/
.el-transfer-panel__footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*商品穿梭框内部高度*/
.product-list {
  --el-transfer-height-val: 300px;
}

/*POI线路穿梭框内部高度*/
.transfer-card {
  --el-transfer-height-val: 250px;
}

/*自定义穿梭框内部高度*/
.el-transfer .el-transfer-panel:first-of-type {
  .el-transfer-panel__body {
    height: var(--el-transfer-height-val);
    .el-transfer-panel__list {
      height: var(--el-transfer-height-val);
    }
  }
}

/*穿梭框搜索框样式*/
.el-transfer {
  .el-input {
    width: 315px !important;
  }
  .el-checkbox {
    margin-right: 0 !important;
  }
}

/*超过限制后隐藏上传按钮*/
.upload-image-hide-box {
  .el-upload--picture-card {
    display: none !important;
  }
}

.datetime-cell {
  width: 350px;
}

// 高德地图搜索框层级问题
.amap-sug-result {
  z-index: 9999 !important;
  border: none;
}

.amap-icon img, .amap-marker-content img {
  width: 20px;
  height: 25px;
}

/*时间段提示样式*/
.tips-content {
  line-height: 20px !important;
  font-size: 12px;

  .label-title {
    display: inline-block;
    text-align: right;
    width: 48px;
    margin-right: 1px;
  }
}

/*404页面样式*/
.full-content {
  border-radius: 3px;
  background-color: #fff;
  padding-top: 18px;
  min-height: calc(100vh - 120px);
}

/*必填标识样式*/
.item-required {
  color: #f56c6c;
}
