@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app,
html,
body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  background-color: #f0f0f0;
  color: #111111;
  font-size: 18px;
  height: 100%;
}

/*三级页面样式(一般为编辑页面)*/
.edit-content {
  padding: 20px 80px 50px 80px;
  background-color: white;
  border-radius: 3px;
  min-height: calc(100vh - 120px);
}
.edit-content .el-input, .edit-content .el-select, .edit-content .el-textarea {
  width: 350px;
}
.edit-content .el-input.w100 {
  width: 100px !important;
}
.edit-content .el-input.w120 {
  width: 120px !important;
}
.edit-content .el-input.w200 {
  width: 200px !important;
}
.edit-content .el-collapse {
  width: 800px;
}

.edit-button-footer {
  position: fixed;
  bottom: 10px;
  z-index: 3001;
  left: 50%;
  transform: translateX(-50%);
}

/*列表单行样式*/
.el-table .success-row {
  --el-table-tr-bg-color: #e9f9e3;
}

/*分页组件样式*/
.el-pagination {
  margin: 10px 10px 0 0 !important;
}

/*消除element按钮边框颜色(icon按钮显示有问题)*/
.el-button:focus-visible {
  outline: none !important;
}

/*列表顶部搜索样式*/
.content-top {
  border-radius: 3px;
  background-color: #fff;
  padding-top: 18px;
}
.content-top .right-button {
  float: right;
}
.content-top .el-input {
  width: 180px;
}
.content-top .el-select {
  width: 150px;
}

.el-input.w250 {
  width: 250px !important;
}

.el-input.w280 {
  width: 280px !important;
}

.el-select.w80 {
  width: 80px !important;
}

.el-select.w100 {
  width: 100px !important;
}

.el-select.w110 {
  width: 110px !important;
}

.el-select.w120 {
  width: 120px !important;
}

.el-select.w130 {
  width: 110px !important;
}

el-select.w250 {
  width: 250px !important;
}

.w220 {
  width: 220px !important;
}

/*搜索框右边距*/
.el-form--inline .el-form-item {
  margin-right: 20px !important;
}

/*列表中间内容样式*/
.content-main {
  margin-top: 18px;
  background-color: #fff;
  padding: 15px;
  border-radius: 3px;
  min-height: calc(100vh - 205px);
}

/*弹框样式*/
.el-dialog .el-input,
.el-dialog .el-textarea,
.el-dialog .el-select {
  width: 400px !important;
}

/*图片预览样式(缩小百分50%)*/
.el-image-viewer__img {
  height: 50% !important;
  width: auto;
}

.image-uploader-preview {
  width: 100px;
  height: 100px;
  display: block;
}

.el-icon.image-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  text-align: center;
}

.image-uploader .el-upload {
  border: 1px dashed var(--el-border-color);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100px;
  transition: var(--el-transition-duration-fast);
}

.el-upload-list--picture-card .el-upload-list__item {
  width: 100px !important;
  height: 100px !important;
}

.image-uploader .el-upload:hover {
  border-color: var(--el-color-primary);
}

/*穿梭框按钮内边距*/
.el-transfer__buttons {
  padding: 0 15px !important;
}

.el-transfer-panel__footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*商品穿梭框内部高度*/
.product-list {
  --el-transfer-height-val: 300px;
}

/*POI线路穿梭框内部高度*/
.transfer-card {
  --el-transfer-height-val: 250px;
}

/*自定义穿梭框内部高度*/
.el-transfer .el-transfer-panel:first-of-type .el-transfer-panel__body {
  height: var(--el-transfer-height-val);
}
.el-transfer .el-transfer-panel:first-of-type .el-transfer-panel__body .el-transfer-panel__list {
  height: var(--el-transfer-height-val);
}

/*穿梭框搜索框样式*/
.el-transfer .el-input {
  width: 315px !important;
}
.el-transfer .el-checkbox {
  margin-right: 0 !important;
}

/*超过限制后隐藏上传按钮*/
.upload-image-hide-box .el-upload--picture-card {
  display: none !important;
}

.datetime-cell {
  width: 350px;
}

.amap-sug-result {
  z-index: 9999 !important;
  border: none;
}

.amap-icon img, .amap-marker-content img {
  width: 20px;
  height: 25px;
}

.tips-content {
  line-height: 20px !important;
  font-size: 12px;
}
.tips-content .label-title {
  display: inline-block;
  text-align: right;
  width: 48px;
  margin-right: 1px;
}

.full-content {
  border-radius: 3px;
  background-color: #fff;
  padding-top: 18px;
  min-height: calc(100vh - 120px);
}

/*# sourceMappingURL=index.css.map */
